@page "/favorites"

@using Cocktail.Services
@inject IFavService FavService

<PageTitle>Favorites</PageTitle>

<h1>Your favorite cocktails</h1>

@if (FavService.FavoriteCocktails.Any())
{
    <ul>
        @foreach (var favorite in FavService.FavoriteCocktails)
        {
            <li>
                <div class="cocktail-item">
                    <div class="cocktail-header">
                        <img src="@favorite.StrDrinkThumb" alt="@favorite.StrDrink" width="100"/>
                        <div class="cocktail-name-container">
                            <h4 class="cocktail-name">
                                @favorite.StrDrink
                                <input id="@($"heart-{favorite.StrDrink}")" type="checkbox"
                                       checked="@FavService.IsFavorite(favorite)"
                                       @onchange="@(e => FavService.ToggleFavorite(favorite))">
                                <label for="@($"heart-{favorite.StrDrink}")">❤</label>
                            </h4>
                            <p class="cocktail-info">@favorite.StrAlcoholic cocktail that should be served in a @favorite.StrGlass?.ToLower()</p>
                        </div>
                    </div>
                    
                    <details class="cocktail-details">
                        <summary>Instructions</summary>
                        <p>@favorite.StrInstructions</p>
                    </details>
                    
                    <details class="cocktail-details">
                        <summary>Ingredients</summary>
                        <ul>
                            @for (int i = 0; i < favorite.Ingredients.Count; i += 2)
                            {
                            <li>
                                @favorite.Ingredients[i]
                                @if (i + 1 < favorite.Ingredients.Count)
                                {
                                @(": " + favorite.Ingredients[i + 1])
                                }
                            </li>
                            }
                        </ul>
                    </details>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No favorite cocktails yet.</p>
}
