@page "/"
@using Cocktail.Models
@using Cocktail.Services
@inject CocktailService CocktailService
@inject FavService FavService

<h1>Search for a cocktail</h1>

<input type="search" @bind="searchName" placeholder="Cocktail's name" />
<button @onclick="SearchCocktails">Search by name</button>
<button @onclick="SearchCocktailsByFirstLetter">Search by first letter</button>
<button @onclick="GetRandomCocktail">Random Cocktail</button>

@if (cocktails == null)
{
<p>Entrez un nom et cliquez sur rechercher.</p>
}
else if (cocktails.Count == 0)
{
<p>Aucun cocktail trouvé.</p>
}
else
{
    <ul>
        @foreach (var cocktail in cocktails)
        {
            <li>
                <h4>
                    @cocktail.StrDrink
                    <input id="@($"heart-{cocktail.StrDrink}")" type="checkbox"
                           checked="@FavService.favoriteCocktails.Any(c => c.StrDrink == cocktail.StrDrink)"
                           @onchange="@(e => FavService.ToggleFavorite(cocktail))">
                    <label for="@($"heart-{cocktail.StrDrink}")">❤</label>
                </h4>
                <img src="@cocktail.StrDrinkThumb" alt="@cocktail.StrDrink" width="100"/>
                <p>@cocktail.StrAlcoholic cocktail that should be served in a @cocktail.StrGlass.ToLower()</p>
                <p><strong>Instructions :</strong> @cocktail.StrInstructions</p>
                <p><strong>Ingredients : </strong>
                    @for (int i = 0; i < cocktail.Ingredients.Count; i++)
                    {
                        @cocktail.Ingredients[i]
                        @(i % 2 == 0 && i < cocktail.Ingredients.Count - 1 ? " : " : " ")
                    }
                </p>
            </li>
        }
    </ul>
}

@code {
    private string searchName = "";
    private string save = "";
    private List<Cocktail> cocktails;

    private async Task SearchCocktails()
    {
        cocktails = await CocktailService.GetCocktailsByNameAsync(searchName);
    }

    private async Task SearchCocktailsByFirstLetter()
    {
        cocktails = await CocktailService.GetCocktailsByFirstLetterAsync(searchName);
    }

    private async Task GetRandomCocktail()
    {
        var cocktail = await CocktailService.GetRandomCocktailAsync();
        cocktails = new List<Cocktail> { cocktail };
    }
    
    
}

